<h1>Add a new entry here:</h1>
<%= form_for @entry do |f| %>
  <%= f.collection_select :category_id, @categories, :id, :text  %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :link %>
  <%= f.text_field :link %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :location %>
  <%= f.number_field :location, :size => 5, :value => 0, :step => 1, :min => 0 %>
  <%= f.submit %>
<% end %>
